{% extends 'base_generic.html' %}
{% load custom_filters %}

{% if not user.is_authenticated %}
    {% block content %}
<h2 class="text-center my-4">Вход в систему</h2>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Имя пользователя</label>
                {{ form.username|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Пароль</label>
                {{ form.password|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        <p class="mt-3 text-center">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
    </div>
</div>
{% endblock %}
{% else %}
    <p>Вы уже авторизованы. <a href="{% url 'task_list' %}">Перейти на главную страницу</a></p>
{% endif %}
